<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link href="../static/posting.css" rel="stylesheet">

    <title>상세 페이지</title>

<body>

    <div class="wrap">

        <div class="post">

            <div class="music_card">
                <div class="album">

                </div>

                 <div class="card">
                    <div class="card-body">

                    </div>
                </div>

            </div>

            <div class="music_comments">
                <div class="posting">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="이 음악 어땠어?" aria-label="댓글" id="comment">
                        <button class="btn btn-outline-primary" type="button" id="comments-button" onclick="posting()">추가하기</button>
                    </div>
                </div>

                <div class="comments">
                    <ul class="list-group list-group-flush" id="comments-list">

                    </ul>
                </div>
            </div>

        </div>

    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../static/posting.js"></script>
</body>

</html>