body {
    background-color: black;
    color: black;
}

.wrap {
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
}

#logo {
    width: 400px;
    height: 200px;
    margin-bottom: 60px;
    background-image: url("https://th.bing.com/th/id/R.7e7965cef3528e9e8cb2047bb63eca42?rik=0oFqa%2flgAFXRyQ&riu=http%3a%2f%2fwww.upinews.kr%2fdata%2fupi%2fimage%2f2020%2f03%2f05%2fupi202003050217.515x.null.jpg&ehk=PylAcCA%2bLLEnO8OZpfid8R0Uyfqke6SAqb0GU1whGdE%3d&risl=&pid=ImgRaw&r=0&sres=1&sresct=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

#logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#title {
    background-color: white;
    color: black;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: white;
    width: 800px;
    border-radius: 15px;
    margin-bottom: 70px;
}

#form input {
    margin-top: 30px;
    margin-left: 50px;
    transition: all 0.2s ease-in-out;
    border: 1px solid black;
    border-radius: 20px;
}

#form button {
    margin-top: 60px;
}

.wrong {
    margin-top: 10px;
    color: red;
}

.active {
    opacity: 1;
    transform: scale(1.5);
}

#test{
    margin-top: 15px;
    font-size: 30px;
}
#submit-button{
    width: 100px;
    margin-bottom: 30px;
}