
body {
    background-color: black;
    color: black;
}

a {
    text-decoration: none;
}

.wrap {
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
}

#logo {
    width: 400px;
    height: 200px;
    margin-bottom: 60px;
    background-image: url("https://th.bing.com/th/id/R.7e7965cef3528e9e8cb2047bb63eca42?rik=0oFqa%2flgAFXRyQ&riu=http%3a%2f%2fwww.upinews.kr%2fdata%2fupi%2fimage%2f2020%2f03%2f05%2fupi202003050217.515x.null.jpg&ehk=PylAcCA%2bLLEnO8OZpfid8R0Uyfqke6SAqb0GU1whGdE%3d&risl=&pid=ImgRaw&r=0&sres=1&sresct=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

#logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#title {
    background-color: white;
    color: black;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: white;
    width: 800px;
    border-radius: 15px;
    margin-bottom: 70px;
    transition: all 2s;
}

#form input {
    margin: 30px 25px 10px 25px;
    transition: all 0.2s ease-in-out;
    border: 1px solid black;
    border-radius: 20px;
}

#form button {
    margin-top: 50px;
}

.wrong {
    margin-top: 10px;
    color: red;
}

.active {
    opacity: 1;
    transform: scale(1.5);
}

#test {
    margin-top: 20px;
    font-size: 30px;
    font-weight: 900;
}

#submit-button {
    width: 100px;
    margin-bottom: 30px;
    cursor: url(./img/TikTok-2.png), auto;
}

#selectEmail {
    position: relative;
    left: 130px;
}

#str_email01 {
    position: relative;
    left: 15px;
}

#str_email02 {
    position: relative;
    right: 15px;
}

#golbangi {
    font-size: 30px;
    font-weight: 400;
}

#welcome-area {
    position: relative;
    top: 20px;
    color: blue;
}

#welcome-name {
    display: none;
}


/* 팝업 */

.wrap {
    padding: 10px;
}

.btn_open {
    font-weight: bold;
    margin: 5px;
    padding: 4px 6px;
    background: #000;
    color: #fff;

}

.pop_wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    font-size: 0;
    text-align: center;
}

.pop_wrap:after {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: '';
}

.pop_wrap .pop_inner {
    display: inline-block;
    padding: 20px 30px;
    background: #fff;
    width: 200px;
    vertical-align: middle;
    font-size: 15px;
}